@import url("./satoshi.css");
html {
    display: block;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Satoshi-Regular";
}

body {
    font-family: "Satoshi-Regular";
    /* color: #ffffff;
    background-color: #040404; */
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.thumb {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* REACT CALENDAR STYLES */
.react-calendar {
    width: 300px;
    border: none !important;
    background: #fff !important;
    margin: 10px auto;
}

@media all and (max-width: 480px) {
    .react-calendar {
        width: 100%;
    }
    .react-calendar_month-view_weekdays abbr {
        font-size: 12px;
    }
}

@media all and (max-width: 360px) {
    .react-calendar_month-view_weekdays abbr {
        font-size: 10px;
    }
}

.react-calendar_navigation_prev2-button,
.react-calendar_navigation_next2-button {
    display: none;
}

.react-calendar_navigation_label {
    flex-grow: unset;
}
.react-calendar__month-view__weekdays__weekday abbr {
    font-size: 13px;
    font-family: Satoshi-Medium;
}
span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
    font-size: 16px;
    /* color: #121212; */
    font-family: Satoshi-Medium;
}
.react-calendar__tile--active {
    /* background: #3f92f433 !important; */
    /* background: #6FAEC3 !important; */
    color: unset !important;
    border-radius: 20px;
    font-family: Satoshi-Bold !important;
    font-weight: 600;
    /* color: #233256 !important; */
    /* color: #fff !important; */
}

.react-calendar__tile--active abbr {
    font-weight: 600;
}

.react-calendar__tile:disabled {
    background-color: #d9dad7;
    opacity: 0.3;
    cursor: not-allowed;
}
/* .react-calendar__tile react-calendar__month-view__days__day{

  } */
/* .react-calendar__month-view__days{
    gap: 4px;
  } */
/* .react-calendar_month-viewdays_day--weekend abbr{
    color: #858585 !important;
  } */
div.react-calendar__month-view__weekdays__weekday--weekend abbr {
    color: #f36a6a !important;
}
.react-calendar__navigation button:disabled {
    /* background-color: #d9dad7; */
    color: #858585;
    cursor: not-allowed;
}

button.react-calendar__tile {
    cursor: pointer;
    /* color: #000; */
    color: #858585;
}
button.react-calendar__tile:disabled {
    background-color: transparent;
}
button.react-calendar__month-view__days__day abbr {
    font-size: 12px;
}

.react-calendar__tile {
    padding: 6px 12px !important;
}

button.react-calendar_month-viewdays_day--weekend {
    color: #d10000 !important;
}

.react-calendar__tile--now {
    /* background: #8c9bd1; */
    border: 1px solid #e3bb6bc8;
    color: #fff !important;
    border-radius: 7px;
}

button.react-calendar_month-viewdays_day--neighboringMonth {
    color: #757575 !important;
}

button.react-calendar_navigation_next-button,
button.react-calendar_navigation_prev-button,
.react-calendar_navigationlabel_labelText--from {
    color: #fff !important;
}
span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
    color: #fff !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    width: 15px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

.react-calendar__navigation button {
    min-width: 44px;
    background: none;
    color: #fff;
}

.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    /* background-color: #e6e6e6; */
}

/* Time picker styles */

.ant-picker-panel-container {
    background-color: #111 !important;
    border: 1px solid #39362f;
}
.ant-picker-time-panel-cell-inner {
    color: #fff !important;
}
.ant-picker-now-btn,
.ant-picker-now-btn:hover {
    color: #e3bb6b;
    font-family: Satoshi-Medium;
}
.ant-picker-dropdown
    .ant-picker-time-panel-column
    > li.ant-picker-time-panel-cell-selected
    .ant-picker-time-panel-cell-inner {
    background: transparent;
    font-family: Satoshi-Medium;
    color: #111;
}
.ant-picker-dropdown
    .ant-picker-time-panel-column
    > li.ant-picker-time-panel-cell-selected
    .ant-picker-time-panel-cell-inner {
    /* background: #2e3c5f17; */
    border: 1px solid #e3bb6b;
}

button.ant-btn.ant-btn-primary.ant-btn-sm,
button.ant-btn.ant-btn-primary.ant-btn-sm:hover {
    background-color: #e3bb6b;
    border: none;
}
button.ant-btn.ant-btn-primary.ant-btn-sm span {
    color: #040404 !important;
}
/* .ant-picker-time-panel-cell ant-picker-time-panel-cell-selected */
button.ant-btn.ant-btn-primary.ant-btn-sm span {
    font-size: 12px !important;
    color: #fff;
}

.ant-btn-primary {
    background: transparent;
    box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.phone-number {
    font-size: 14px;
    margin-top: 5px;
    color: #e3bb6b;
}
